* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v28_262 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_263 {
  width: 100%;
  height: 100px;
  background: rgba(220,25,27,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_264 {
  width: 100%;
  height: 100px;
  background: rgba(244,60,4,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_23 {
  width: 91px;
  height: 75px;
  background: url("../images/v37_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 11px;
  overflow: hidden;
}
.v28_265 {
  width: 100%;
  height: 925px;
  background: rgba(12,12,36,1);
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 0px;
  overflow: hidden;
}
.v28_273 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 91px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v28_274 {
  width: 100%;
  height: 474px;
  background: rgba(12,12,36,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v30_536 {
  width: 743px;
  height: 383px;
  background: rgba(31,31,72,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 697px;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  overflow: hidden;
}
.v28_275 {
  width: 100%;
  height: 456px;
  background: url("../images/v28_275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 353px;
  overflow: hidden;
}
.v28_338 {
  width: 100%;
  height: 323px;
  background: rgba(31,31,72,1);
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 40px;
  border-top-left-radius: 49px;
  border-top-right-radius: 49px;
  border-bottom-left-radius: 49px;
  border-bottom-right-radius: 49px;
  overflow: hidden;
}
.v28_276 {
  width: 731px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 181px;
  left: 709px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v28_333 {
  width: 363px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 527px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v28_334 {
  width: 336px;
  height: 301px;
  background: url("../images/v28_334.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 638px;
  left: 1104px;
  overflow: hidden;
}
.v28_337 {
  width: 532px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 583px;
  left: 220px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v28_339 {
  width: 314px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 954px;
  left: 1109px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v30_537 {
  width: 974px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 664px;
  left: 65px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v30_598 {
  width: 450px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 99px;
  left: 844px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
